# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FOLDERS #########################
.next/
.vscode/
node_modules
out/
build
offline/

# FILES ###########################
pnpm-lock.yaml
package-lock.json
.env.local
